
<style>

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

</style>

<div class="item5">
  <!--
<div id="toes">
<img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_1-facebook-512.png">
<img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_6-twitter-512.png">
<img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_3-instagram-512.png">
</div>
-->
<div class="footer">
<span class="year "> 2019 <i class="copyright "></i>Travel Too</span>
 <%# <div class="right"><a href="#">About us</a></div> %>

 </div>
