
<style>
.footercontainer{
  position: relative;
  bottom: -100px;
  width: 70%;
  height: 2.5rem;            /* Footer height */
}
.icons{
	padding: 5px 5px 5px 5px;
}
</style>



<footer class="footercontainer">

<div class="icons">
<img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_1-facebook-512.png">
<img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_6-twitter-512.png">
<img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_3-instagram-512.png">
</div>

<div class="copyrightinfo">
<span class="year "> 2019 <i class="copyright "></i>Travel Too</span>
                <ul>                      
                    <li class="right"><a href="#">About us</a></li>
                </ul>

</div>

</footer>