<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<style>
header{
    position: relative;
}
</style>

<header>
    <h2>Welcome to TravelToo</h2>
    <div class ="logo">

    </div>
</header>
