

<nav>
                <ul>
                    <hr class="navs"/>
                    <li class="left"><a href="#">HOME</a></li>

                    <hr class="navs"/>
                    <li class="left"><a href="#">PROFILE</a></li>

                    <hr class="navs"/>
                    <li class="left"><a href="#">DESTINATIONS</a></li>

                    <hr class="navs"/>
                    <li class="left"><a href="#">COMMUNITY</a></li>
                </ul>


                <ul>    

                    <hr class="navs"/>
                    <li class="right"><a href="#">Contact</a></li>

                    <hr class="navs"/>
                    <li class="right"><a href="#">About us</a></li>
                </ul>
            </nav>
    

