<style>
li {
  float:left;
  margin-right: 15px;
  display: inline;
}

a {
  display: block;
  padding: 8px;
  background-color:;
  
}

li a:hover {
  background-color: turquoise;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

</style>

<nav>
                <ul>
            
                    <li class="left"><a href="/">HOME</a></li>                   
                    <li class="left"><a href="destinations/show">PROFILE</a></li>                   
                    <li class="left"><a href="/destinations">DESTINATIONS</a></li>                  
                    <li class="left"><a href="#">NEXT STOP</a></li>
                </ul>

                <ul>                      
                    <li class="right"><a href="#">Contact</a></li>            
                    <li class="right"><a href="#">About us</a></li>
                </ul>
            </nav>
    

