<style>
li {
  float: left;
   margin-right: 15px;
}

</style>

<nav>
                <ul>
            
                    <li class="left"><a href="/">HOME</a></li>                   
                    <li class="left"><a href="#">PROFILE</a></li>                   
                    <li class="left"><a href="#">DESTINATIONS</a></li>                  
                    <li class="left"><a href="#">COMMUNITY</a></li>
                </ul>

                <ul>                      
                    <li class="right"><a href="#">Contact</a></li>            
                    <li class="right"><a href="#">About us</a></li>
                </ul>
            </nav>
                <br>

