<div class="navbar">
<nav>
  <ul>        
  <li class="left"><a href="/">Profile</a></li>                   
  <li class="left"><a href="/destinations">Destinations</a></li>                   
  <li class="left"><a href="/destinations/new">Submit Destination</a></li>
  <li class="left"><a href="#">About</a></li>
  <li class="right"><a href="/">Logout</a></li>                   
</ul>
</nav>
</div>

