<style>
li {
  float:left;
  margin-right: 15px;
  display: inline;
}
a {
  display: block;
  padding: 8px;
  background-color:;
}
li a:hover {
  background-color: turquoise;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
</style>

<nav>
                <ul>
            
                    <li class="left"><a href="/">Home</a></li>                   
                    <li class="left"><a href="./destinations/edit">Profile</a></li>                   
                    <li class="left"><a href="/destinations">Destinations</a></li>                  
                    <li class="left"><a href="/destinations/new">Next Stop</a></li>
                </ul>

                <ul>                      
                    <li class="right"><a href="#">About us</a></li>
                </ul>
            </nav>
    

