<!DOCTYPE html>
<html lang="en">

  <%-include ../partials/_head.ejs%> 

<body>

<div class="grid-container">

  <div class="item1"></div>
  <div class="item2"></div>

<%-include ../partials/_navbar.ejs%> 


  <div class="item3">   <h1>Your Destinations</h1> 

  

      <form action="/destinations" method="POST">
        <label for="country">Country:</label>
        <input type="text" name="country">

        <label for="city">City:</label>
        <input type="text" name="city">

        <label for="rating">Rating:</label>
        <input type="text" name="rating">

        <label for="description">Description:</label>
       <input type="text" name="description">
       
       <label for="visitSeason">Visit Season:</label>
       <input type="text" name="visitSeason">

        <input type="submit" value="Submit">
        </form>

  </div>  
  </div>  

  <div class="item4"></div>

  <div class="item5">
      <%-include ../partials/_footer.ejs%> 
  </div>
</div>

</body>
</html>

