<!DOCTYPE html>
<html lang="en">
<%-include ./partials/_head.ejs%> 
<body>

    <h1>Welcome to TravelToo</h1>
    <div class ="logo">
        <h1>Share your dream destinations, we'll share how to get there!</h1>

    </div>
    <div class ="register">
    <button><a href="/users/new">Register</a></button>
    <button><a href="/users/new">Login</a></button>
   
    </div>
    <%-include ./partials/_footer.ejs%> 
</body>
</html>