<!DOCTYPE html>
<html lang="en">
<%-include ./partials/_head.ejs%> 
<body>
<div class="container">
    <h1>Welcome to TravelToo</h1>
    <div class ="logo">
    <p>Travelers unite! Register and tell us about your worldly travels.</p>

    </div>
    <div class="login">
    <h3>Log in here</h3>
        <form action="/" method="POST">
            <label for="username">Username </label><br>
            <input type="text" name="username"></p>
            <label for="password">Password </label><br>
            <input type="password" name="password"></p>
            <input type="submit" value="Login">
        </form>
    </div>

    <div class ="register">
        <h3> Don't have an account yet?</h3>
        <button><a href ="/users/new">Register</a></button>
    </div>

    <%-include ./partials/_footer.ejs%>
</div> 
</body>
</html>