
<!DOCTYPE html>
<html>
<head>

<!-- MAIN CSS -->

<style>
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 1px;
  background-color: white
  ;
  padding: 2px;
  margin: 20px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  margin: 20px;
}


#user{
    padding: 25px 25px 25px 25px;
    background-color: #E0F7FA ;
}

#password{
    padding: 25px 25px 25px 25px;
    background-color: #E0F7FA ;
}

#quote{
    padding: 25px 25px 25px 25px;
      background-color: #B2EBF2;
}

#experience{
    padding: 25px 25px 25px 25px;
    background-color: #80DEEA;
   
}

#interests{
    padding: 25px 25px 25px 25px;
    background-color: #4DD0E1;
}

#bucket{
    padding: 25px 25px 25px 25px;
       background-color: #26C6DA;
}

#home{
    padding: 25px 25px 25px 25px;
    background-color: #00BCD4;
}
#submit{
    padding: 25px 25px 25px 25px;
    
}



img {
  border: 1px solid #ddd; 
  border-radius: 4px; 
  padding: 5px; 
  width: 70px;
  height: 40px; 
  display: flex;
}


img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.box{
  float: left;
  width: 18%;
  padding: 10px;
  position: relative;
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  text-align: center;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

body{
    background-image: url("https://i.imgur.com/4Gl6XpE.jpg")
}


</style>


</head>
<body>

<div class="grid-container">
  <div class="item1">

  <%-include ../partials/_head.ejs%>

<nav>
 <%-include ../partials/_navbar.ejs%>
</nav>
  </div>

  <div class="item2">
    <h1>Register Here</h1>
    </div>
<div class="item3">
   <form action="/users" method="POST">
   <div id="user">
        <label for="username">Username </label>
        <input type="text" name="username"></p>
        </div>
        <div id="password">
        <label for="password">Password </label>
        <input type="password" name="password"></p>
        </div>
        <div id="quote">
        <label for="quote"> Favorite Quote </label>
        <input type="text" name="quote"></p>
        </div>
<div id="experience">
<div class="dropdown">
     <form action="/users" method="POST">
        <label for="experienceLevel">Travel Experience Level </label>
        <input type="text" name="experienceLevel"></p>
    <div class="dropdown-content">
        <a href="#">No Travel Experience</a>
        <a href="#">Beginner</a>
        <a href="#">Intermediate</a>
        <a href="#">Advanced</a>
        <a href="#">Competitive Globetrotter</a>
</div>
    <div id="interests">
        <label for="interests"> Travel Interests </label>
        <input type="text" name="interests"></p>
        </div>
        <div id="bucket">
        <label for="bucketList"> Travel Bucket List </label>
        <input type="text" name="bucketList"></p>
        </div>
        <div id="home">
        <label for="hometown"> Your Hometown </label>
        <input type="text" name="hometown"></p>
        </div>
      <div id="submit">
        <input type="submit" value="Submit">
        </div>
        </form>
</div>
  
</div>  

  </div>

  <div class="item5">Footer
   <%-include ../partials/_footer.ejs%> 
  </div>
</div>

</body>
</html>

