<!DOCTYPE html>
<html lang="en">
<%-include ../partials/_head.ejs%> 
<body>

<%-include ../partials/_navbar.ejs%> 
    <h1> Register Here: </h1>
    
    <form action="/users" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <label for="quote"> Favorite Quote: </label>
        <input type="text" name="quote">
        <label for="travelExperience"> Travel Expreience Level: </label>
        <input type="text" name="travelExperience">
        <label for="interests"> Travel Interests: </label>
        <input type="text" name="interests">
        <label for="bucketList"> Travel Bucket List: </label>
        <input type="text" name="bucketList">
        <label for="hometown"> Your Hometown: </label>
        <input type="text" name="hometown">

        <input type="submit" value="Register">
        </form>
        <%-include ../partials/_footer.ejs%> 
</body>
</html>