<!DOCTYPE html>
<html lang="en">
<%-include ../partials/_head.ejs%> 
<body>
<div class="container">
 <%-include ../partials/_navbar.ejs%> 
<div class=headline>
    <h1>You be the Travel Guide!</h1>
    <p>Create a profile below so that you can submit your travel experiences to the world!</p>
</div>
<div class=form>
    <form action="/users" method="POST">
        <label for="username">Username </label><br>
        <input type="text" name="username"></p>
        <label for="password">Password </label><br>
        <input type="password" name="password"></p>
        <label for="quote"> Favorite Quote </label><br>
        <input type="text" name="quote"></p>
        <label for="experienceLevel"> Travel Expreience Level </label><br>
        <input type="text" name="experienceLevel"></p>
        <label for="interests"> Travel Interests </label><br>
        <input type="text" name="interests"></p>
        <label for="bucketList"> Travel Bucket List </label><br>
        <input type="text" name="bucketList"></p>
        <label for="hometown"> Your Hometown </label><br>
        <input type="text" name="hometown"></p>

        <input type="submit" value="Submit">
        </form>
</div>
<div class=footer>
        <%-include ../partials/_footer.ejs%>
</div>
</div> 
</body>
</html>